@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-navbar {
    @apply absolute md:static md:flex md:items-center  md:max-w-[1280px] md:justify-center h-full opacity-0  md:opacity-100 duration-500 bg-primary w-full md:bg-transparent;
  }
  .iron {
    @apply bg-[#6e7e8433] hover:shadow-glow hover:shadow-ironShadowColor;
  }
  .iron a {
    @apply bg-[#313244];
  }
  .iron h3 {
    @apply text-[#6E7E84];
  }

  .bronze {
    @apply bg-gradient-to-r from-50% from-[#2E1917] to-[#1C1431] hover:shadow-glow hover:shadow-bronzeShadowColor;
  }
  .bronze a {
    @apply bg-gradient-to-r  from-[#864E40] to-[#2C1F2C];
  }
  .bronze h3 {
    @apply text-[#7C5B51];
  }

  .silver {
    @apply bg-gradient-to-r from-70% from-[#221F35] to-[#1C1431] hover:shadow-glow hover:shadow-ironShadowColor;
  }
  .silver a {
    @apply bg-gradient-to-r from-[#303044] to-[#271E3D];
  }
  .silver h3 {
    @apply text-[#6E7E84];
  }

  .gold {
    @apply bg-gradient-to-r from-50% from-[#3E322E] to-[#1C1431] hover:shadow-glow hover:shadow-goldShadowColor;
  }
  .gold a {
    @apply bg-gradient-to-r from-[#AB804D] to-[#2C1F2C];
  }
  .gold h3 {
    @apply text-[#F9DC5C];
  }

  .platinum {
    @apply bg-gradient-to-r from-50% from-[#093E4C] to-[#1C1431] hover:shadow-glow hover:shadow-platinumShadowColor;
  }
  .platinum a {
    @apply bg-gradient-to-r from-[#4FB5D8] to-[#271E3D];
  }
  .platinum h3 {
    @apply text-[#97E7ED];
  }

  .emerald {
    @apply bg-gradient-to-r from-50% from-[#075232] to-[#1C1431] hover:shadow-glow hover:shadow-emeraldShadowColor;
  }
  .emerald a {
    @apply bg-gradient-to-r from-[#18B14E] to-[#271E3D];
  }
  .emerald h3 {
    @apply text-[#5FE2AE];
  }

  .diamond {
    @apply bg-gradient-to-r from-50% from-[#2D2E6B] to-[#1C1431] hover:shadow-glow hover:shadow-diamondShadowColor;
  }
  .diamond a {
    @apply bg-gradient-to-r from-[#3051AE] to-[#271E3D];
  }
  .diamond h3 {
    @apply text-[#7CB8E1];
  }

  .master {
    @apply bg-gradient-to-r from-50% from-[#9131D2] to-[#1C1431] hover:shadow-glow hover:shadow-masterShadowColor;
  }
  .master a {
    @apply bg-gradient-to-r from-[#CD6BD1] to-[#271E3D];
  }
  .master h3 {
    @apply text-[#F58AF5];
  }
  .grandmaster {
    @apply bg-gradient-to-r from-50% from-[#832825] to-[#1C1431] hover:shadow-glow hover:shadow-grandmasterShadowColor;
  }
  .grandmaster a {
    @apply bg-gradient-to-r from-[#BE431C] to-[#271E3D];
  }
  .grandmaster h3 {
    @apply text-[#DEAA6D];
  }

  .challenger {
    @apply bg-gradient-to-r from-50% from-[#694821] to-[#1C1431] hover:shadow-glow hover:shadow-challengerShadowColor;
  }
  .challenger a {
    @apply bg-gradient-to-r from-[#05568B] to-[#271E3D];
  }
  .challenger h3 {
    @apply text-[#A6DEE6];
  }

  .handlevelChampion{
    background: radial-gradient(100% 100% at 53.13% 0%, #31e7fa 0%, #4477ff 52.6%, #db74ff 100%);
    padding: 4px;
    border-radius: 100%;
  }

  .link {
    position: relative;
    overflow: hidden;
    transition: background-color 0.5s;
  }

  .link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        22.15% 456.25% at 94.74% 352.08%,
        #0085ff 0,
        rgba(90, 51, 218, 0) 100%
      ),
      radial-gradient(
        30.19% 621.88% at 26.59% -352.6%,
        #0085ff 0,
        rgba(90, 51, 218, 0) 100%
      ),
      linear-gradient(90deg, #750aa7 29.9%, #ad00ff 88.98%);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1;
    border-radius: inherit;
  }
  .link:hover::before {
    opacity: 1;
  }

  .video-bg {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .video-bg video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video-bg::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 80%,
      rgba(15, 8, 34, 1) 100%
    );
  }

  .light-effect {
    position: relative;
    overflow: hidden;
  }

  .light-effect::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -250px;
    width: 600px;
    height: 700px;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    pointer-events: none;
  }
  .modal-hidden {
    display: none;
  }
  .modal-visible {
    display: block;
  }
}

input[type="range"] {
  -webkit-appearance: none; /* Remove a aparência padrão do navegador */
  width: 100%; /* Ajuste a largura conforme necessário */
  height: 4px; /* Altura da faixa */
  background: #ad00ff; /* Cor de fundo da faixa */
  border-radius: 3px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove a aparência padrão do navegador */
  appearance: none;
  width: 16px; /* Largura da bola */
  height: 16px; /* Altura da bola */
  background: #ad00ff; /* Cor da bola */
  border-radius: 50%; /* Arredondamento da bola */
  cursor: pointer; /* Cursor ao passar por cima */
}

input[type="range"]::-moz-range-thumb {
  width: 16px; /* Largura da bola */
  height: 16px; /* Altura da bola */
  background: #ad00ff; /* Cor da bola */
  border-radius: 50%; /* Arredondamento da bola */
  cursor: pointer; /* Cursor ao passar por cima */
}

.select-list::-webkit-scrollbar {
  width: 12px;
}

.select-list::-webkit-scrollbar-track {
  background: #1f1032; /* cor do track */
}

.select-list::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* cor do thumb */
  border-radius: 10px;
  border: 3px solid #1f1032; /* padding around thumb */
}

.select-list::-webkit-scrollbar-thumb:hover {
  background: #4b5563; /* cor do thumb ao passar o mouse */
}
